# Locally installed binaries
*.phar

# Composer
/vendor/
composer.lock

# phpunit (we only commit phpunit.xml.dist)
/phpunit.xml

# Build artifacts and temporary files

# PHP-CS-Fixer
/.php-cs-fixer.php
/.php-cs-fixer.cache

# Psalm
/.psalm/cache

# PHPUnit
/.phpunit.cache
.phpunit.result.cache


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp
*.bkp
*.bak
*~
.~lock.*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/web
